/* GENERAL RULES */
html {
    font-size: 100%;
}

body {
    background-color: silver;
    min-width: 320px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: whitesmoke;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 10, 0.5);
}

main {
    padding: 2px;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    overflow-x: auto;
    max-width: fit-content;
    margin: auto;
}

/* SEARCH FORM */
#searchForm {
    list-style: none;
    padding: 0;
    display: flex;
    column-gap: 10px;
}
@media (max-width:600px){
    #searchForm{
        flex-direction: column;
        row-gap: 10px;
    }
}

/* DROP LIST */
.dropList {
    min-width: 11.3125rem;
    list-style: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 10, 0.5);
    padding: 2px;
    border-radius: 4px;
    display: none;
}


/* RESULT TABLE */
#resultTable caption {
    font-weight: bold;
}

#resultTable td, #resultTable th {
    padding: 3px;
}

#resultTable-header1{
    min-width: 50px;
    background-color: rgb(255, 127, 127);
}

#resultTable-header2{
    width: 150px;
    background-color: rgb(255, 127, 127);
}

#resultTable-header3{
    width: 250px;
    background-color: rgb(255, 127, 127);
}

#resultTable tr:nth-child(even){
    background-color: rgb(247, 233, 217);
}

/* NEW ENTRY */
#newData, #removeData{
    list-style: none;
    display: none;
}

#newData li, #removeData li {
    margin: 2px;
}